# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [314]:
import pandas as pd
import numpy as np

In [315]:
!pip install wget

Requirement already satisfied: wget in /Users/andrewivanov/anaconda3/lib/python3.10/site-packages (3.2)

#### Описание данных

В папке Dat (https://github.com/hse-ds/iad-intro-ds/blob/master/2023/homeworks/Data.zip) находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [316]:
#не осуждайте пожалуйста за то, как я объединял данные в таблицу. 
import wget
import zipfile

wget.download('https://github.com/hse-ds/iad-intro-ds/raw/master/2023/homeworks/Data.zip', 'data.zip')

with zipfile.ZipFile('data.zip', 'r') as zip_ref:
    dfs_1 = [] #сначала объединяем данные всех студентов
    for file_name in zip_ref.namelist()[1:11]: #файл с нулевым индексом - пустой, поэтому идем с первого
        with zip_ref.open(file_name) as f:
            df_i = pd.read_csv(f)
            dfs_1.append(df_i)
    df_1 = pd.concat(dfs_1, ignore_index=False)
    dfs_2 = [] #потом объединяем данные по оценкам всех студентов
    for file_name in zip_ref.namelist()[11:]:
        with zip_ref.open(file_name) as f:
            df_i = pd.read_csv(f)
            dfs_2.append(df_i)
    df_2 = pd.concat(dfs_2)        
    df = pd.merge(df_1, df_2, on="index", how="inner") #объединяем (точнее пересекаем) данные студентов с их оценками


df.head(10)

100% [..........................................................] 16727 / 16727

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
5,5,female,group B,associate's degree,standard,none,group1,71,83,78
6,6,female,group B,some college,standard,completed,group1,88,95,92
7,7,male,group B,some college,free/reduced,none,group1,40,43,39
8,8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [317]:
df = df.drop("index", axis=1)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [318]:
display(df.shape)

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [319]:
display(df.describe().loc[['min', 'max', 'mean', 'std']]) #здесь указаны только эти, я их вывел

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [320]:
display(df.isnull().any().any())

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [321]:
display(df[['math score', 'reading score', 'writing score']].mean())

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [322]:
gr = df.groupby(by='test preparation course')
display(gr[['math score', 'reading score', 'writing score']].mean())

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [323]:
print(df['lunch'].unique())

['standard' 'free/reduced']

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [324]:
df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'}, inplace=True)

**Зафиксируем минимальный балл для сдачи экзамена**

In [325]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [326]:
#Какая доля студентов сдала экзамен по математике (passmark >= 50)?
display(len(df[df['math score'] >= passmark]) / len(df))

0.865

In [327]:
#Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
display(len(df[(df['test preparation'] == 'completed') & (df['math score'] >= passmark)]) / len(df[df['test preparation'] == 'completed']))

0.9217877094972067

In [328]:
#Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?
display(len(df[(df['test preparation'] == 'completed') & (df['math score'] >= passmark) & (df['gender'] == 'female')]) / len(df[(df['math score'] >= passmark) & (df['gender'] == 'female')]))

0.3888888888888889

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [329]:
#Для каждой этнической группы выведите средний балл за экзамен по чтению

gr_1 = df.groupby(by='race/ethnicity')
display(gr_1['reading score'].mean())

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [330]:
%%timeit 

gr_1 = df.groupby(by='race/ethnicity')
gr_1['reading score'].mean()

345 µs ± 3.38 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [331]:
#Для каждого уровня образования выведите минимальный балл за экзамен по письму

gr_2 = df.groupby(by='education')
display(gr_2['writing score'].min())

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

In [332]:
%%timeit 

gr_2 = df.groupby(by='education')
gr_2['writing score'].min()

375 µs ± 3.47 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [333]:
#самое тяжелое задание

In [334]:
#Для каждой этнической группы выведите средний балл за экзамен по чтению
ethnicity_reading_avg = {}
for ethnicity in df['race/ethnicity'].unique():
    avg_score = df[df['race/ethnicity'] == ethnicity]['reading score'].mean()
    ethnicity_reading_avg[ethnicity] = avg_score
display(ethnicity_reading_avg)

{'group B': 67.35263157894737,
 'group C': 69.10344827586206,
 'group A': 64.67415730337079,
 'group D': 70.03053435114504,
 'group E': 73.02857142857142}

In [335]:
%%timeit

ethnicity_reading_avg = {}
for ethnicity in df['race/ethnicity'].unique():
    avg_score = df[df['race/ethnicity'] == ethnicity]['reading score'].mean()
    ethnicity_reading_avg[ethnicity] = avg_score
ethnicity_reading_avg

1.94 ms ± 20.8 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [336]:
#Для каждого уровня образования выведите минимальный балл за экзамен по письму

education_writing_min = {}
for education_level in df['education'].unique():
    min_score = df[df['education'] == education_level]['writing score'].min()
    education_writing_min[education_level] = min_score
    
display(education_writing_min)

{"bachelor's degree": 38,
 'some college': 19,
 "master's degree": 46,
 "associate's degree": 35,
 'high school': 15,
 'some high school': 10}

In [337]:
%%timeit

education_writing_min = {}
for education_level in df['education'].unique():
    min_score = df[df['education'] == education_level]['writing score'].min()
    education_writing_min[education_level] = min_score
    
education_writing_min

2.02 ms ± 17.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

### Вывод: через функции пандаса код работает быстрее!

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [338]:
display(df.pivot_table(index=['gender', 'education'],
                             values=['math score', 'reading score', 'writing score'],
                             aggfunc='mean'))

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [339]:
#Math_PassStatus
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'P' if x >= passmark else 'F')
display(df['Math_PassStatus'].value_counts())

P    865
F    135
Name: Math_PassStatus, dtype: int64

In [340]:
#Reading_PassStatus
df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'P' if x >= passmark else 'F')
display(df['Reading_PassStatus'].value_counts())

P    910
F     90
Name: Reading_PassStatus, dtype: int64

In [341]:
#Writing_PassStatus
df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'P' if x >= passmark else 'F')
display(df['Writing_PassStatus'].value_counts())

P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

Есть 2 варианта: через apply и через np.where

In [342]:
%%timeit
df['OverAll_PassStatus'] = df[['math score', 'reading score', 'writing score']].apply(lambda row: 'F' if not all(score >= passmark for score in row) else 'P', axis=1)

len(df[df['OverAll_PassStatus'] == 'P'])

6.3 ms ± 191 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [343]:
%%timeit
df['OverAll_PassStatus'] = np.where(
    (df['math score'] >= passmark) & (df['reading score'] >= passmark) & (df['writing score'] >= passmark),
    'P', 'F'
)
len(df[df['OverAll_PassStatus'] == 'P'])

1.18 ms ± 27.8 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

Вывод: Через np.where быстрее

In [344]:
df['OverAll_PassStatus'] = np.where(
    (df['math score'] >= passmark) & (df['reading score'] >= passmark) & (df['writing score'] >= passmark),
    'P', 'F'
)
display(len(df[df['OverAll_PassStatus'] == 'P']))

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [345]:
def GetGrade(average_mark):
    if average_mark >= 90:
        return 'A'
    elif 80 <= average_mark < 90:
        return 'B'
    elif 70 <= average_mark < 80:
        return 'C'
    elif 60 <= average_mark < 70:
        return 'D'
    elif 50 <= average_mark < 60:
        return 'E'
    else:
        return 'F'   

df['Grade'] = df[['math score', 'reading score', 'writing score']].mean(axis=1).apply(GetGrade)

display(df['Grade'].value_counts().sort_index()) #можно было и не выводить в алфавитном порядке, но так красивее:)

A     52
B    146
C    261
D    256
E    182
F    103
Name: Grade, dtype: int64